<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.epam.game"/>

    <!--######################### Messages ######################################-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:signUpMessages</value>
                <value>classpath:profileMessages</value>
                <value>classpath:loginMessages</value>
                <value>classpath:createGameMessages</value>
                <value>classpath:messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!--######################### Interceptors ##################################-->

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.epam.game.controller.interceptors.AuthenticationInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/gameControl.html"/>
            <mvc:mapping path="/godPage.html"/>
            <mvc:mapping path="/gameBroadcast.html"/>
            <bean class="com.epam.game.controller.interceptors.AuthorizationInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/login.html"/>
            <bean class="com.epam.game.controller.interceptors.NoCookieInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--######################### Forms ####################################-->

    <bean id="createTrainingLevelForm" class="com.epam.game.controller.forms.CreateTrainingLevelForm"/>

    <!--######################### View resolver #################################-->

    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView"/>
    </bean>
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/tiles.xml</value>
            </list>
        </property>
        <property name="definitionsFactoryClass" value="org.apache.tiles.definition.UrlDefinitionsFactory"/>
    </bean>

    <!--########################### Localization #####################################-->
    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="ru_RU"/>
    </bean>

    <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="interceptors" ref="localeChangeInterceptor"/>
    </bean>

    <bean id="namesGenerator" class="com.epam.game.gamemodel.naming.impl.FileRandomNamingHandler">
        <property name="file" value="classpath:names.txt"/>
    </bean>

</beans>